doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li
            a(href="meli://search/input") Go to meli://
          li
            a(href="/weblink") Go to https://articulo.mercadolibre.com.ar